.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  position: relative;

  /* FONT */

  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: start;

  /* BACKGROUND */

  background-color: #fbfbfb;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.nav {
  display: flex;
  box-sizing: border-box;
  align-items: end;
  height: 69px;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  height: 39px;
}

.nav__links {
  margin: 0 0 auto auto;
  display: flex;
  list-style-type: none;
  column-gap: 20px;

  /* FONT */

  font-style: normal;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  text-decoration: underline;
  color: blue;
}

.header__title {
  display: flex;
  flex-direction: column;
  margin: 183px 0 0 80px;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;

  /* PARA NAO ENTRAR DEBAIXO DA IMAGEM QUANDO WIDTH MENOR QUE 1440PX*/
  margin-right: 651px;
}

.header__title-span {
  display: block;

  /* FONT */

  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;

  /* FONT  */

  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  /* PARA NAO ENTRAR DEBAIXO DA IMAGEM QUANDO WIDTH MENOR QUE 1440PX*/
  margin-right: 651px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: auto 80px 40px;
}

.header__list {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  display: flex;
  margin: 0;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  color: #838383;
}

/* MAIN */

/* RECIPES SECTION */

.recipes {
  padding: 100px 80px 215px;

  /* BACKGROUND */

  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* FONT */

  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;

  /* FONT */

  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__iframe:hover {
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.15);
}

.recipes__video-caption {
  display: flex;
  margin: 0;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption_duration {
  margin-left: auto;
}

/* RESERVATION SECTION */

.reservation {
  margin: 0;
  padding: 100px 0 120px;

  /* BACKGROUND */

  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* FONT */
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto 0;
}

.form {
  max-width: 385px;
  padding: 0;
}

.form__fieldset {
  border: 0;
  padding: 0;
  width: 100%;
}

.form__label {
  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin: 8px 0 32px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;

  /* FONT */

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  height: 60px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #fff;
  opacity: 70%;

  /* FONT */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 100%;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
}

.form__label-checkbox {
  display: flex;
  margin: 32px;
  column-gap: 12px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
}

/* FOOTER */
